.horizontalList {
    max-width: 100%;
    // height: 55px;
    margin: var(--mg-15) var(--mg-15);
    padding: 6px 0 var(--mg-10) 0;
    position: relative;

    border-top: 2px solid var(--color-white-60);
    border-right: 2px solid var(--color-white-60);
    border-bottom: 2px solid var(--color-white-60);
    border-left: none;

    border-top-right-radius: var(--bordre-radius-smallest);
    border-bottom-right-radius: var(--bordre-radius-smallest);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &__headerSet {
        padding-right: 5px;
        position: absolute;
        background-color: var(--color-green);
        top: calc(2px - var(--mg-15));
        color: var(--color-white-60);
    }
    &__headerCount {
        padding-right: 5px;
        position: absolute;
        background-color: var(--color-green);
        bottom: calc(5px - var(--mg-15));
        color: var(--color-white-60);
    }

    &__container {
        display: flex;
        // justify-content: space-evenly;
        gap: 30px;
        // min-width: 100%;
        // height: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;

        overflow-x: auto;
        scrollbar-width: none; /* Скрываем скроллбар в Firefox */
        -ms-overflow-style: none; /* Скрываем скроллбар в IE/Edge */

        &::-webkit-scrollbar {
            display: none; /* Скрываем скроллбар в Chrome/Safari */
        }
    }

    &__list {
        // margin-right: 20px;
        // max-width: 14px;
        // max-height: 55px;
        line-height: normal;

        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;

        &:last-child {
            padding-right: 10px;
        }
    }

    &__set {
        font-size: 1rem;
        opacity: 50%;
        color: var(--color-default);
    }

    &__score {
        font-size: 3rem;
        font-weight: 600;
        color: var(--color-default);
        font-family: var(--font-header);

        &_color {
            color: var(--color-yellow);
        }
    }
}
