.inputField {
    max-width: 900px;
    box-sizing: border-box;
    padding: var(--margin-outsideBlock);
    margin-bottom: var(--margin-outsideBlock);
    display: flex;

    gap: 15px;

    background-color: var(--color-default);
    border-radius: 12px;
    
    &__screen {
        &_mobile {
            flex-direction: column;
            min-width: 100%;
        }
        &_tablet {
            min-width: 768px;
        }
        &_desktop {
            min-width: 1024px;
        }
        
    }
}