.inputField {
    padding: var(--margin-outsideBlock);
    margin-bottom: var(--margin-outsideBlock);
    display: flex;

    gap: 15px;

    background-color: var(--color-default);
    border-radius: 12px;
    
    &__column {
        flex-direction: column;
    }
}