.card {
    box-sizing: content-box;
    min-width: 290px;
    max-width: 320px;
    // margin: 8px 16px;
    padding: 6px 12px 2px;
    background-color: var(--color-default);
    border-radius: 6px;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(146, 146, 146, 0.2);
    }
    & :nth-child(odd) {
        background-color: var(--color-white-95)
    }
}

.gridContainer {
    margin-bottom: 26px;
    display: grid;
    gap: 10px;

    &_mobile {
        grid-template-columns: repeat(1, 325px);
    }
    &_tablet {
        grid-template-columns: repeat(2, 325px);
    }
    &_desktop {
        grid-template-columns: repeat(3, 325px);
    }
}

.notFound {
    width: 100%;
    min-height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &__span {
        font-family: var( --font-header);
        color: lightgrey;
    }
}